<div class="seismogramDiv" ...attributes >

  <ShowHide @divTitle="Seismograph Tools">
    <div class="seisdisplaytools">
      <div>
        <span>Stations: </span>
        <CheckboxList @items={{stations}} @selected={{selectedStations}} @selectionChanged={{action this.handleStationSelected}} />
      </div>
      <div>
        <span>Band: </span>
        <CheckboxList @items={{bands}} @selected={{selectedBands}} @selectionChanged={{action this.handleBandSelected}} />
      </div>
      <div>
        <span>Instruments: </span>
        <CheckboxList @items={{instruments}} @selected={{selectedInstruments}} @selectionChanged={{action this.handleInstrumentSelected}} />
      </div>
      <div>
        <span>Orientations: </span>
        <CheckboxList @items={{orientations}} @selected={{selectedOrientations}} @selectionChanged={{action this.handleOrientationSelected}} />
      </div>
      <div>
        <span>Sort: </span>
        {{#each sortTypes as |s|}}
          <label for={{s.field}}>
            <Input {{on "click" (fn this.sortBy s.field)}} @type="checkbox" name="sort" id={{s.field}} @checked={{eq sortField s.field}} />
            <span>{{s.name}}</span>
          </label>
        {{/each}}
      </div>
      <div>
        <span>Organize: </span>
        {{#each organizeTypes as |o|}}
          <label for={{o.field}}>
            <Input {{on "click" (fn this.organizeBy o.field)}} @type="checkbox" name="sort" id={{o.name}} @checked={{eq organizeDefinition o.name}} />
            <span>{{o.name}}</span>
          </label>
        {{/each}}
      </div>
    </div>
  </ShowHide>

  {{#if (has-block)}}
    {{yield (hash organizedDisplayList=organizedDisplayList )}}
  {{else}}
    {{#each organizedDisplayList as |org|}}
      <h5>seisData: {{org.seisData.length}}  orient: {{selectedOrientations}}</h5>
      <OrganizedDisplay @organized={{org}} />
    {{/each}}
  {{/if}}
</div>
