
<div class="div-as-row" style="display: flex;justify-content: middle;align-items: center;">
  <span style="vertical-align:middle;" >
    <button style="display:inline-block;vertical-align:middle;" {{on "click" this.toggleHide}}>{{this.buttonText}} </button>
  </span>
  <h5 style="display:inline-block;">{{@divTitle}}</h5>
</div>
<div class="show-hide" hidden={{this.isHidden}}>
  {{yield}}
</div>
